 body{color: $whiteFont;}
.dark{color: $darkFont;}

@media only screen and (max-width: 768px) {
  h1 {font-size: 30px;}
  h2 {font-size: 24px;}
  h3 {font-size: 21px;}
  h4 {font-size: 18px;}
  h5 {font-size: 14px;}

  p{font-size: 10px;}
  a{font-size: 10px;}
  label{font-size: 10px;}
  input{font-size: 10px;}
  button{font-size: 10px;}

  .big{font-size: 0.75rem;}
  .small{font-size: 0.4rem;}
}

@media only screen and (min-width: 768px) {
  h1 {font-size: 36px;}
  h2 {font-size: 28px;}
  h3 {font-size: 22px;}
  h4 {font-size: 18px;}
  h5 {font-size: 16px;}

  p{font-size: 11px;}
  a{font-size: 11px;}
  label{font-size: 11px;}
  input{font-size: 11px;}
  button{font-size: 11px;}

  .big{font-size: 0.8rem;}
  .small{font-size: 0.5rem;}
}

@media only screen and (min-width: 992px) {
  h1 {font-size: 42px;}
  h2 {font-size: 36px;}
  h3 {font-size: 32px;}
  h4 {font-size: 24px;}
  h5 {font-size: 18px;}

  p{font-size: 12px;}
  a{font-size: 12px;}
  label{font-size: 12px;}
  input{font-size: 12px;}
  button{font-size: 12px;}

  .big{font-size: 1rem;}
  .small{font-size: 0.66rem;}
}

@media only screen and (min-width: 1440px) {
  h1 {font-size: 42px;}
  h2 {font-size: 36px;}
  h3 {font-size: 32px;}
  h4 {font-size: 24px;}
  h5 {font-size: 20px;}

  p{font-size: 16px;}
  a{font-size: 15px;}
  label{font-size: 15px;}
  input{font-size: 15px;}
  button{font-size: 15px;}

  .big{font-size: 1.25rem;}
  .small{font-size: 0.7rem;}
}

@media only screen and (min-width: 1920px) {
  h1 {font-size: 60px;}
  h2 {font-size: 48px;}
  h3 {font-size: 42px;}
  h4 {font-size: 36px;}
  h5 {font-size: 24px;}

  p{font-size: 18px;}
  a{font-size: 18px;}
  label{font-size: 18px;}
  input{font-size: 18px;}
  button{font-size: 18px;}

  .big{font-size: 1.5rem;}
  .small{font-size: 0.8rem;}
}