html {
  scroll-behavior: smooth;
  body {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    background-color:$dark;
    font-family: $defaultFont;
    color: $whiteFont;
  }
}
  
  .section {
    background: $dark;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-deco {
    @include gradient;
    width: 180px;
    height: 180px;
    position: absolute;
    top: -90px;
    clip-path: polygon(0% 0%, 0% 100%, 3% 100%, 3% 3%, 97% 3%, 97% 97%, 3% 97%, 3% 100%, 100% 100%, 100% 0%);
    transform: rotate(45deg);
    border-radius:6px;
  }
  
  .section:nth-child(odd) {
    @include gradient;
    .content{
      background-color: $whiteFont;
    }
    .top-deco {
      background: $dark;
    }
    h1 {
      color: $darkFont;
    }
    p {
      color: $darkFont;
    }
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  